.input-container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px ;
}

.input-container input {
    flex: 1;
    border: none;
    background: none;
    color: inherit;
    padding: 0 12px;
    outline: none;
    font-size: 16px;
}

.input-container .input-icon {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.input-container .input-icon svg {
    fill: currentColor;
    width: 24px;
    height: 24px;
    margin-left: 8px;
}